.CCard{
    grid-area: 3 / 2 / 4 / 4;  
    
}

.CCard-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: grey;
}




.title { 
    grid-area: 1 / 1 / 2 / 5;
    background-color: grey;
    color: black; 
}
.location { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: lightgray;
    color: black;

}
.booking { 
    grid-area: 3 / 1 / 4 / 2;
    background-color: lightgray;
    color: black;
 
}
.time { 
    grid-area: 2 / 2 / 4 / 3; 
    background-color: lightgray;
    color: black;

}
.selector { 
    grid-area: 2 / 4 / 3 / 5;
    background-color: lightgray;
    color: black;
 
}
.create { 
    grid-area: 3 / 4 / 4 / 5; 
    background-color: lightgray;
    color: black;

}
.notes { 
    grid-area: 2 / 3 / 4 / 4; 
    background-color: lightgray;
    color: black;

}